<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bible.englishbible.chinesebible">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="bible.englishbible.chinesebible.EditNotesActivity"
            android:label="Update Notes"></activity>
        <activity
            android:name="bible.englishbible.chinesebible.NotesViewActivity"
            android:label="View Notes" />
        <activity
            android:name="bible.englishbible.chinesebible.AddNotesActivity"
            android:label="Add Notes" />
        <activity
            android:name="bible.englishbible.chinesebible.NotesActivity"
            android:label="Notes" />
        <activity android:name="bible.englishbible.chinesebible.TeluguSongsActivity" />
        <activity android:name="bible.englishbible.chinesebible.SettingsActivity" />
        <activity android:name="bible.englishbible.chinesebible.BookmarkActivity" />
        <activity
            android:name="bible.englishbible.chinesebible.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="bible.englishbible.chinesebible.PraisesActivity" />
        <activity android:name="bible.englishbible.chinesebible.LyricsActivity" />
        <activity android:name="bible.englishbible.chinesebible.SongsActivity" />
    </application>

</manifest>